
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans&family=M+PLUS+1p&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      18px;
  --body-size:       1rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    12px;
  /*-- Main font colors --*/
  --title-color:     #02141c;
  --header-color:    #02141c;
  --body-color:      #02141c;
  --aside-color:     #02141c;
  --fig-cap-color:   #02141c;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Open Sans', 'M PLUS 1p', sans-serif;
  --mono-font:       'Fira Code', monospace;
  --body-font:       'Open Sans', 'M PLUS 1p', sans-serif;
  --navbar-font:     'Open Sans', 'M PLUS 1p', sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #02141c;
  --body-size:       0.8rem;
  --body-color:      #02141c;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    14px;
  --contents-size:   12px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    14px;
  --heading-color:   #02141c;
  --text-size:       0.8em;
  --text-color:      #02141c;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       16px;
  --text-color:       #02141c;
  --text-size:        13px;
  --hover-color:      #dd424c;
  --bkgd-color:       #ffffff;
}

.distill-site-footer {
  --text-color:       #02141c;
  --text-size:        13px;
  --hover-color:      #dd424c;
  --bkgd-color:       #ffffff;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */
